<div class="large-24 columns makani-track-tickers row">

</div>

<div class="track-statistics row">
    <div class="statbox large-6 columns"><span id="tpm" class="statbox-num">0</span><br /><span id="tpm-text">tweets per minute</span></div>
    <div class="statbox large-6 columns"><span id="percentage" class="statbox-num">0%</span><br /><span id="percentage-text">of all tweets</span></div>
    <div class="statbox large-6 columns">data</div>
    <div class="statbox large-6 columns">data</div>
</div>

<div class="incoming-tweets">
    <div class="small-24 columns">
        <div class="title-box">
            <h5 class="toggle-incoming showing-tracks">
                Incoming Tweets &middot; <span class="toggle-incoming-button entypo-pause"></span> &middot; Currently Showing: <span class="income-tweet-text"></span>
            </h5>
        </div>
        <div class="income-tweet-container"></div>
    </div>
    
</div>
<div class="user-info">{{email}}</div>

<script src="/js/makani.js"></script>
<script src="/js/feed-driver.js"></script>