<div class="container">
    <h3>Dashboard</h3>
    <p>Edit track settings to customize this page.</p>
    <div class="track-percent-stats">
        <div class="title-box">
            <h4>Top Tracks</h4>
        </div>
        <div class="col-xs-12 progress">
            <div percentvalue="road" class="road progress-bar progress-bar-warning" role="progress-bar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 10%">10%</div>
            <div percentvalue="rain" class="rain progress-bar" role="progress-bar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 25%">25%</div>
            <div percentvalue="wind" class="wind progress-bar progress-bar-success" role="progress-bar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
            <div percentvalue="storm" class="storm progress-bar progress-bar-danger" role="progress-bar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">20%</div>
        </div>
    </div>
    <div class="update-tracks">
        <div class="title-box">
            <h4>Add Additional Filter</h4>
        </div>
        <form class="form-inline" role="form">
            <input type="text" class="new-track form-control" placeholder="New track..." />
            <div class="update-track-button btn btn-default">Add & Refresh Server</div>
        </form>
        <div class="filter-heatmap">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="track-heatmap">
        <div class="title-box">
            <h4>Track Heatmap</h4>
        </div>
        <div class="row">
            <!-- heatmap content -->
        </div>
    </div>
    <div class="incoming-tweets">
        <div class="title-box">
            <h4 class="toggle-incoming">Incoming Tweets &middot; <span class="toggle-incoming-button glyphicon glyphicon-pause"></span></h4>
            <h4 class="showing-tracks">Currently Showing: <span class="income-tweet-text"></span></h4>
        </div>
        <div class="income-tweet-container"></div>
    </div>
</div>