<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Project</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @-webkit-keyframes yellow-fade {
                0% {
                    background: greenyellow;
                }
                100% {
                    background: #eee;
                }
            }

            @keyframes yellow-fade {
                0% {
                    background: greenyellow;
                }
                100% {
                    background: #eee;
                }
            }
            .highlight {
                -webkit-animation: yellow-fade 0.5s ease-in 1;
                animation: yellow-fade 0.5s ease-in 1;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Twitter Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Track Settings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Sign In</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    
    {{{ body }}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/twitterfeed.js"></script>
    <script>
        $(function () {
            var socket = io();
            var incomeSelector = 'all';
            var runTweetFeeder = true;
            addedTracks = [];
            $('.toggle-incoming-button').click(function () {
                if (runTweetFeeder) {
                    runTweetFeeder = false;
                    $('.toggle-incoming-button').removeClass('glyphicon-pause');
                    $('.toggle-incoming-button').addClass('glyphicon-play');
                } else {
                    runTweetFeeder = true;
                    $('.toggle-incoming-button').removeClass('glyphicon-play');
                    $('.toggle-incoming-button').addClass('glyphicon-pause');
                };
            });
            $('.income-tweet-text').html(incomeSelector);
            socket.on('initialData', function (data) {
                for (var key in data.tracks) {
                    $('.track-heatmap .row').append('<div class="col-md-2 heatmap-entry" id="' + key + '">' + key + ': ' + '0</div>');
                };
            });
            $('body').on('click', '.heatmap-entry', function (event) {
                incomeSelector = event.currentTarget.id;
                console.log(event.currentTarget.id);
                $('.income-tweet-text').html(event.target.id);
                $('.income-tweet-container div').remove();
            });
            socket.on('data', function (data) {
                var trackContainer = document.getElementById(data.key);
                $('div#' + data.key).html(data.key + ': ' + data.newCount);
                trackContainer.classList.remove('highlight');
                trackContainer.focus();
                trackContainer.classList.add('highlight');
                if (incomeSelector == 'all' && runTweetFeeder) {
                    var totalTweets = $('.income-tweet-container div').length;
                    if (totalTweets >= 10) {
                        $('.income-tweet-container div:last-child').remove();
                    };
                    $('.income-tweet-container').prepend('<div>' + data.tweetData + '</div>');
                } else if (incomeSelector == data.key && runTweetFeeder) {
                    var totalTweets = $('.income-tweet-container div').length;
                    if (totalTweets >= 10) {
                        $('.income-tweet-container div:last-child').remove();
                    };
                    $('.income-tweet-container').prepend('<div>@' + data.tweetAuthor + ': ' + data.tweetData + '</div>');
                }
                for (var i = 0; i < 4; i++) {
                    var text = $('.progress-bar').eq(i).attr('percentvalue');
                    $('.progress-bar').eq(i).html(text + ' ' + data.highKeys[text.toLowerCase()] + '%');
                    $('.progress-bar').eq(i).css('width', data.highKeys[text.toLowerCase()] + '%');
                }
            });
            $('.update-track-button').click(function () {
                var newTrack = $('.new-track').val();
                addedTracks.push(newTrack);
                socket.emit('updatestream', newTrack);
                $('.new-track').val('');
                $('.filter-heatmap .row').append('<div class="col-md-2 heatmap-entry" id="' + newTrack + '">' + newTrack + ': ' + '0</div>');
            });
        });
    </script>
</body>
</html>
