@-webkit-keyframes yellow-fade {
    0% {
        background: #37bb98;
        fill: #37bb98;
    }
    100% {
        background: #2e3135;
        color: #fff;
        fill: #2e3135;  
    }
}

@keyframes yellow-fade {
    0% {
        background: #37bb98;
        fill: #37bb98;
    }
    100% {
        background: #2e3135;
        color: #fff;
        fill: #2e3135; 
    }
}

.highlight {
    animation: yellow-fade 0.5s ease-in 1;
    -webkit-animation: yellow-fade 0.5s ease-in 1;
}

.highlight-map {
    animation: yellow-fade 1s ease-in 1;
    -webkit-animation: yellow-fade 1s ease-in 1;
}

body {
    color: #fff !important;
    background: #22252a;
    padding-bottom: 40px;
}

::-webkit-scrollbar {
    display: none;
}

.track-percent-stats h5 {
	text-align: center;
}

.track-percent-stats, .track-heatmap, .incoming-tweets, .update-tracks {
	margin-top: 30px;
}

.percent-stat-box {
	background: #eee;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}

.heatmap-entry {
	background: #2e3135;
	border: 1px solid #22252a;
	cursor: pointer;
	padding: 10px;
    text-align: center;
}

.income-tweet-container div {
    margin-top: 8px;
    margin-bottom: 3px;
    overflow-x: hidden !important;
}

.toggle-incoming {
    float: left;
}

.showing-tracks {
    clear: none;
    float: right;
}

.income-tweet-container {
    clear: both;
}

.toggle-incoming-button {
    cursor: pointer;
}

.title-box {
    border-bottom: 1px solid #393B47;
    margin-bottom: 14px;
}

.incoming-tweets .title-box {
    overflow: auto;
}

.incoming-tweets div a {
    color: #fff;
}


/*input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    background-color: #393939 !important;
} */

.filter-heatmap {
    margin-top: 14px;
}

input.new-track {
    background: #25282c;
    border: 1px solid #191a1b;

    border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.update-track-button {
    background: #393939 !important;
    color: #fff;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    
}

.update-track-button:focus {
    color: #fff;
    outline: none !important;
}

.update-track-button:hover {
    background: #404040 !important;
    color: #fff;
}

.data-chart {
    margin-top: 15px;
    display: none;
}

.data-chart rect {
    fill: #37bb98;
}

.data-chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.incoming-tweets {
    background: #2e3135;
    padding: 2px 20px 10px;
}

.heat-container {
    width: 100%;
    overflow: auto;
}

#statesvg {
    margin: 0 auto;
}

.state {
    fill: #2e3135;
    stroke: #22252a;
    stroke-width: 2;
}

.state:hover {
    cursor: pointer;
    fill: #404040;
}

.us-map {
    width: 960px;
    margin: 0 auto;
}

.new-track.form-control {
    color: #fff !important;

}