@-webkit-keyframes yellow-fade {
    0% {
        background: #37bb98;
    }
    100% {
        background: #2e3135;
        color: #fff;  
    }
}

@keyframes yellow-fade {
    0% {
        background: greenyellow;
        color: #000;
    }
    100% {
        background: #393939;
        color: #fff;
    }
}

.highlight {
    animation: yellow-fade 0.5s ease-in 1;
    -webkit-animation: yellow-fade 0.5s ease-in 1;
}

body {
    color: #fff !important;
    background: #22252a;
    padding-bottom: 40px;
}

.track-percent-stats h5 {
	text-align: center;
}

.track-percent-stats, .track-heatmap, .incoming-tweets, .update-tracks {
	margin-top: 30px;
}

.percent-stat-box {
	background: #eee;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}

.heatmap-entry {
	background: #2e3135;
	border: 1px solid #22252a;
	cursor: pointer;
	padding: 10px;
    text-align: center;
}

.income-tweet-container div {
    margin-top: 5px;
    overflow-x: hidden !important;
}

.toggle-incoming {
    float: left;
}

.showing-tracks {
    clear: none;
    float: right;
}

.income-tweet-container {
    clear: both;
}

.toggle-incoming-button {
    cursor: pointer;
}

.title-box {
    border-bottom: 1px solid #393B47;
    margin-bottom: 14px;
}

.incoming-tweets .title-box {
    overflow: auto;
}

.filter-heatmap {
    margin-top: 14px;
}

input.new-track {
    background: #25282c;
    border: 1px solid #191a1b;

    border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.update-track-button {
    background: #393939;
    color: #fff;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    
}

.update-track-button:focus {
    color: #fff;
    outline: none !important;
}

.update-track-button:hover {
    background: #404040;
    color: #fff;
}

.filter-chart {
    margin-top: 15px;
}

.filter-chart rect {
    fill: #37bb98;
}

.filter-chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.incoming-tweets {
    background: #2e3135;
    padding: 2px 20px 10px;
}

.heat-container {
    width: 100%;
    overflow: auto;
}