@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


@media only screen { 
	body {
		background: rgb(26, 29, 37);
		font-family: 'Tahoma';
	}

	.makani-container {
		width: 100%;
		max-width: none !important;
		padding: 0 !important;
		position: relative !important;
	}

	.no-padding {
		padding: 0 !important;
	}

	/* Primary Side Navigation Bar */

	.makani-primary-nav {
		background: rgb(12, 14, 18);
		float: none;
		height: 100%;
		display: none;
		position: fixed;
	}

	.makani-primary-nav .side-nav {
		padding: 0;
		margin-top: 15px;
	}

	.makani-primary-nav .side-nav li {
		margin: 0;
	}

	.makani-primary-nav .side-nav li a, .makani-primary-nav .side-nav li a:visited {
		color: rgb(118, 125, 137);
		transition: .3s;
		-webkit-transition: .3s;
		border-left: 4px solid rgb(12, 14, 18);
	}

	.makani-primary-nav .side-nav li a:hover {
		color: white;
		background: rgb(10, 12, 14);
		border-left: 4px solid rgb(68, 188, 238);
	}

	.makani-branding-box {
		/*background: rgba(68, 188, 238, .8);*/
		margin: 0;
		padding: 12px 0 16px;
		background: rgb(10, 12, 18);
	}

	.makani-branding-box h2 {
		color: rgba(255, 255, 255, 1);
		margin: 0 0 0 22%;
		font-family: 'Oswald';
		text-transform: lowercase;
	}

	.makani-branding-box p {
		color: rgba(255, 255, 255, 1);
		margin: -3px 0 0 24%;
		font-size: 13px;
		
		letter-spacing: .02rem;
	}

	

	.makani-content {
		margin: 1.277em 0;
		padding: 0 .9375em;
	}

	.track-ticker-listing {
		background: rgb(50, 53, 64);
		border: 1px solid rgb(26, 29, 37);
        cursor: pointer;
		font-size: 13px;
		padding: 8px 0;
		text-align: center; 
        transition: background .5s;
        -webkit-transition: background .5s;
	}
    .statbox {
        background: rgb(50, 53, 64);
        border: 1px solid rgb(26, 29, 37);
        margin-top: 15px;
        padding: 15px 0;
        text-align: center; 
    }

    .incoming-tweets a {
        color: #fff;
    }

    .incoming-tweets a:hover {
        text-decoration: underline;
    }

    .toggle-incoming-button {
        cursor: pointer;
    }

    .incoming-tweets {
        background: rgb(50, 53, 64);
        border: 1px solid rgb(26, 29, 37);
        margin-top: 15px;
        padding: 5px 10px;
        overflow: auto;
    }
    .incoming-tweets h5 {
        padding-bottom: 5px;
        border-bottom: 1px solid white;
    }
    .printed-tweet {
        font-size: 15px;
        margin-bottom: 3px;
    }
    .tweet-author {
        color: rgb(255, 81, 47);
    }
}

@media only screen and (min-width: 64.063em) {
	.makani-primary-nav {
		display: block;
	}

	.track-ticker-listing {
		font-size: 14px;
	}
}