<div class="container">
    <div class="us-map">
        <svg width="960" height="600" id="statesvg"></svg>
    </div>
    <div class="track-heatmap">
        <div class="title-box">
            <h4>Primary Tracks</h4>
        </div>
        <div class="heat-container">
            <!-- heatmap content -->
        </div>
    </div>
    <div class="incoming-tweets">
        <div class="title-box">
            <h4 class="toggle-incoming">Incoming Tweets &middot; <span class="toggle-incoming-button glyphicon glyphicon-pause"></span></h4>
            <h4 class="showing-tracks">Currently Showing: <span class="income-tweet-text"></span></h4>
        </div>
        <div class="income-tweet-container"></div>
    </div>
    
</div>

<script src="/js/states.js"></script>
<script src="/js/map-feed.js"></script>