<div class="small-7 columns small-centered">
    <form class="login-form" action="/create" method="post">
        <div class="form=group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="login-input" value="{{ input.email }}"/>   
        </div>
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input class="login-input" type="email" name="email" />
        </div>
        <div class="form-group">
            <label for="email">Password:</label>
            <input class="login-input password-main" type="password" name="password" />
        </div>
        <div class="form-group">
            <label for="email">Confirm Password:</label>
            <input class="login-input password-confirm" type="password" name="passwordConfirm" />
        </div>
        <div class="login-status-box"></div>
        <button type="submit" class="btn login-button">Sign Up</button>
    </form>
    <div class="center-text">
        <a class="create-account-button" href="/login">Already have an account? Log In</a>
    </div>
    
</div>
{{#if error}}
    <p style="color:red;">{{error}}</p>
{{/if}}