<div class="us-map">
    <div class="mapcenter">
        <svg width="960" height="600" id="statesvg"></svg>
    </div>
</div>
<div class="large-24 columns makani-track-tickers row map-incoming">

</div>
<div class="incoming-tweets">
    <div class="small-24 columns">
        <div class="title-box">
            <h5 class="toggle-incoming showing-tracks">
                Incoming Tweets &middot; <span class="toggle-incoming-button entypo-pause"></span> &middot; Currently Showing: <span class="income-tweet-text"></span>
            </h5>
        </div>
        <div class="income-tweet-container"></div>
    </div>
</div>

<script src="/js/states.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="/js/map-feed.js"></script>