<div class="container">
	
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script>

		var temp = d3.select('.container').style("width");
		var newWidth = parseInt(temp.substring(0, temp.length - 2));
		var width = parseInt(temp.substring(0, temp.length - 2)),
			height = width * .55;

		var projection = d3.geo.albers()
			.scale(6000)
			.translate([-300,-300]);

		var path = d3.geo.path()
			.projection(projection);
		var svg = d3.select(".container").append("svg")
			.attr("width", width)
			.attr("height", height)
			.classed("county-heatmap", true);

		var g = svg.append("g");	

		var zoom = d3.behavior.zoom()
			.on("zoom", function() {
				g.attr("transform","translate("+d3.event.translate.join(",")+")scale("+d3.event.scale+")");
				console.log()
			});

		svg.call(zoom);

		d3.json("/js/us.json", function(error, topology) {
			if (error) {
				throw error;
			}

			g.selectAll("path")
				.data(topojson.feature(topology, topology.objects.counties).features)
				.enter().append("path")
				.attr("d", path)
				.attr("id", function (d) { return d.id })
				.attr("transform", function(d) {
					return "rotate(4.6)"
				});
		});

		var counties = [{"id":1000,"name":"Alabama"},{"id":1001,"name":"Autauga"},{"id":1003,"name":"Baldwin"},{"id":1005,"name":"Barbour"},{"id":1007,"name":"Bibb"},{"id":1009,"name":"Blount"},{"id":1011,"name":"Bullock"},{"id":1013,"name":"Butler"},{"id":1015,"name":"Calhoun"},{"id":1017,"name":"Chambers"},{"id":1019,"name":"Cherokee"},{"id":1021,"name":"Chilton"},{"id":1023,"name":"Choctaw"},{"id":1025,"name":"Clarke"},{"id":1027,"name":"Clay"},{"id":1029,"name":"Cleburne"},{"id":1031,"name":"Coffee"},{"id":1033,"name":"Colbert"},{"id":1035,"name":"Conecuh"},{"id":1037,"name":"Coosa"},{"id":1039,"name":"Covington"},{"id":1041,"name":"Crenshaw"},{"id":1043,"name":"Cullman"},{"id":1045,"name":"Dale"},{"id":1047,"name":"Dallas"},{"id":1049,"name":"De Kalb"},{"id":1051,"name":"Elmore"},{"id":1053,"name":"Escambia"},{"id":1055,"name":"Etowah"},{"id":1057,"name":"Fayette"},{"id":1059,"name":"Franklin"},{"id":1061,"name":"Geneva"},{"id":1063,"name":"Greene"},{"id":1065,"name":"Hale"},{"id":1067,"name":"Henry"},{"id":1069,"name":"Houston"},{"id":1071,"name":"Jackson"},{"id":1073,"name":"Jefferson"},{"id":1075,"name":"Lamar"},{"id":1077,"name":"Lauderdale"},{"id":1079,"name":"Lawrence"},{"id":1081,"name":"Lee"},{"id":1083,"name":"Limestone"},{"id":1085,"name":"Lowndes"},{"id":1087,"name":"Macon"},{"id":1089,"name":"Madison"},{"id":1091,"name":"Marengo"},{"id":1093,"name":"Marion"},{"id":1095,"name":"Marshall"},{"id":1097,"name":"Mobile"},{"id":1099,"name":"Monroe"},{"id":1101,"name":"Montgomery"},{"id":1103,"name":"Morgan"},{"id":1105,"name":"Perry"},{"id":1107,"name":"Pickens"},{"id":1109,"name":"Pike"},{"id":1111,"name":"Randolph"},{"id":1113,"name":"Russell"},{"id":1115,"name":"St. Clair"},{"id":1117,"name":"Shelby"},{"id":1119,"name":"Sumter"},{"id":1121,"name":"Talladega"},{"id":1123,"name":"Tallapoosa"},{"id":1125,"name":"Tuscaloosa"},{"id":1127,"name":"Walker"},{"id":1129,"name":"Washington"},{"id":1131,"name":"Wilcox"},{"id":1133,"name":"Winston"}];
			
		var purple = {
			red: 0,
			green: 248,
			blue: 0
		}

		var green = {
			red: 0,
			green: 0,
			blue: 208
		}

		var diff = {
			red: (purple.red - green.red) * -1,
			green: (purple.green - green.green) * -1,
			blue: (purple.blue - green.blue) * -1
		}

		console.log(diff);

		var colorArray = [];

		for (var i = 0; i < counties.length; i++) {
			if (i == 0) {
				colorArray.push(purple);
			} else if (i == counties.length - 1) {
				colorArray.push(green);
			} else {
				colorArray.push({
					red: Math.round(colorArray[i - 1].red + ((1 / (counties.length - 1) * diff.red) )),
					green: Math.round(colorArray[i - 1].green + ((1 / (counties.length - 1) * diff.green) )),
					blue: Math.round(colorArray[i - 1].blue + ((1 / (counties.length - 1) * diff.blue) ))
				});
			}
		}

		function setCountyColors() {
			for (var i = 0; i < counties.length; i++) {
				var fill = "rgb(" + colorArray[i].red + "," + colorArray[i].green + "," + colorArray[i].blue + ")";
				$("#" + counties[i].id).css("fill", fill);
			}
		}

		window.setTimeout(setCountyColors, 2000);

		

	</script>

	<script>
	$(document).ready(function() {

	});
	</script>
	
</div>