<div class="sim-form">
    <form class="simulate-form">
        <div class="small-8 columns">
            <div class="form-group">
                <label for="start-date">Start Date:</label>
                <input type="text" class="form-control sim-input start-date"/>
            </div>
            <div class="form-group">
                <label for="start-date">Start Time:</label>
                <input type="text" class="form-control sim-input start-time" />
            </div>
            <div class="form-group">
                <label for="start-date">Stop Date:</label>
                <input type="text" class="form-control sim-input stop-date" placeholder="e.g. 11/5/2015" />
            </div>
            <div class="form-group">
                <label for="start-date">Stop Time:</label>
                <input type="text" class="form-control sim-input stop-time" placeholder="e.g. 07:57 or 15:02"/>
            </div>
            <button type="submit" class="btn sim-button">Start</button>
        </div>
    </form>
</div>
<div class="sim">
    <div class="time-box">
        <p></p>
    </div>

    <div class="speed">
        <div class="btn-group" role="group" aria-label="...">
            <button speed-value="1" type="button" class="btn btn-default sim-speed-button">1x</button>
            <button speed-value="2" type="button" class="btn btn-default sim-speed-button">2x</button>
            <button speed-value="3" type="button" class="btn btn-default sim-speed-button">3x</button>
            <button speed-value="5" type="button" class="btn btn-default sim-speed-button">5x</button>
            <button speed-value="10" type="button" class="btn btn-default sim-speed-button">10x</button>
            <button speed-value="20" type="button" class="btn btn-default sim-speed-button">20x</button>
        </div>
    </div>

    <div class="us-map sim-map">
        <svg width="960" height="600" id="statesvg"></svg>
    </div>

    <div class="large-24 columns makani-track-tickers row">

    </div>
    <div class="incoming-tweets">
        <div class="small-24 columns">
            <div class="title-box">
                <h5 class="toggle-incoming showing-tracks">
                    Incoming Tweets &middot; <span class="toggle-incoming-button entypo-pause"></span> &middot; Currently Showing: <span class="income-tweet-text"></span>
                </h5>
            </div>
            <div class="income-tweet-container"></div>
        </div>

    </div>
</div>

<script src="/js/states.js"></script>
<script src="/js/simulate-feed.js"></script>